{% extends 'base.html' %}
{% block title%}
Import completed
{% endblock %}
{% block content %}
  <h1>Import completed</h1>
  <table class="table table-sm table-borderless" style="width:50%;">
    {% if results %}
    {% for key in results %}
    <tr>
      <th class="align-middle">{{ key }}</th>
      <td class="align-middle">{{ results[key] }}</td>
    </tr>
    {% endfor %}
    {% endif %}
  </table>
  <div class="mt-4">
    <a href="{{ url_for('explore.samples') }}" class="btn btn-primary">View Samples</a>
    <a href="{{ url_for('data.jobs') }}" class="btn btn-outline-secondary">View Jobs</a>
  </div>
{% endblock %}