{% from 'table/column_table.html' import job_column_table %}

{% extends 'base.html' %}
{% block title%}
Job {{ job_info.job_id }} did not finish
{% endblock %}
{% block content %}

<h1>Job {{ job_info.job_id }} did not finish</h1>

{% if reason %}
<div class="alert alert-danger" role="alert">
  {{ reason }}
</div>
{% endif %}

{{ job_column_table(job_info, show_progress=False) }}

<div class="mt-3">
  <a href="{{ url_for('data.jobs') }}" class="btn btn-primary">Back to Jobs</a>
</div>

{% endblock %}
